<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h2 class="curso p-2 mr-100 w-50" id="curso">Professores</h2>
        
        <p id="bnt_med" class="curso">Hamilton Suino</p>
      <p id="text_med" class="descricao">
        O professor Hamilton coordena as aulas da turma de medicina
      </p>
      <p id="btn_eng" class="curso">Oscar Alho</p>
      <p id="text_eng" class="descricao">
      O professor Oscar ministra as aulas de Engenharia Civil
      </p>
      <p id="btn_dir" class="curso">Cuca Beludo</p>
      <p id="text_dir" class="descricao">
        O professor Cuca ministra as aulas de direito
      </p>
      <p id="btn_psi" class="curso">Paula Tejano</p>
      <p id="text_psi" class="descricao">
        A professora Paula ministra as aulas de psicologia
      </p>
      <p id="btn_fil" class="curso">Rodrigo Bossini</p>
      <p id="text_fil" class="descricao">
        O professor Rodrigo Bossini coordena as aulas de filosofia.
      </p>
    </section>
    <footer>
        <p>&copy: Unimacumba entre em contato</p>
        <p>por telefone de preferencia</p>
      </footer>
</body>
</html>